*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    background-color: #ffffff;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}
.nav{
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
}
.contactus{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
    justify-content: space-around;
}
.contactus input{
    height: 50px;
}
.contactus button{
    height: 40px;
    width: 70px;
    background-color: #6e42e5;
    color: #ffffff;
    border-radius: 8px;
}
.contactus button:hover{
    background-color: #572ac8;
}
.contactus2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 36%;
    max-height: 600px;
}
.box{
    border: 1px solid gray;
    border-radius: 8px;
    padding: 5px;
    color: #545454;
}
footer{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}
.footer-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
}
.footer-links{
    display: flex;
    justify-content: space-between;
}
.footer-links li{
    list-style: none;
}
.footer-links a{
    color: #545454;
    text-decoration: none;
}
.footer-links ul{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.social-icon{
    display: flex;
    justify-content: space-between;
}
.social-icon a{
    border-radius: 50%;
    background-color: #ffffff;
}