body {
    font-family: Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
   /* background-color: ;  */
  }
  
  header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    margin-top: 5rem;
    width: 100%;
    /* background-color: blue; */
  }
  
  .container{
    width: 100%;
  }
  .container1 {
    /* max-width: 960px; */
    /* margin: 0 auto; */
    /* padding: 20px; */
    /* padding-top: 0px; */
    width: 100%;
    /* margin-top: 15rem; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    background-color: yellow;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .policy {
    background-color: #fff;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    font-size: 14px;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
  }
  .italic{
    font-style: italic;
  }
  .policy p {
    color: #333;
  }

  
  .flag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .flag img {
    width: 24px;
    height: 16px;
    margin-right: 10px;
  }
  
  .flag select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .links {
    display: flex;
    justify-content: center;
    /* margin-bottom: 20px; */
     top: 0px;
     /* gap: 10px; */

     border-bottom: 1px solid #ddd;
  }
  .links>.logo {
    margin-right: 45%;
    /* border: 2px solid red; */
  }
  .links a {
    color: #333;
    text-decoration: none;
    margin-left: 10px;
  }
  .bgc{
    width: 100%;
    background-color: #f4f4f4;
    /* border: 2px solid red; */
    padding: 30px;
    display: flex;
    justify-content: center;
  }
  .top{
    margin: auto;
    width: 100%;
    /* width: 950px; */
  }


  @media screen and (max-width:934px) {
    .policy{
        width: 60%;
    }
  }
  @media screen and (max-width:600px) {
    .policy{
        width: 80%;
    }
  }

  @media screen and (max-width:470px) {
    .policy{
        width: 90%;
    }
  }